.header {
  background-color: black;
  color: white;
  padding: 20px 10px;
  text-align: center;
  position: relative;
}
.header h1 {
  font-size: 24px;
}
.headerBasket {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background: none;
}
.headerBasket i {
  font-size: 20px;
  color: white;
  padding: 5px;
}
.headerBasketQty {
  color: white;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
}
